* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Courier New', Courier, monospace;
}

.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
}

.nav-item {
	display: inline-block;
}

.nav-item a {
	color: white;
	padding: 0 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	transition: .5s;
}

.nav-item a:hover {
	color: royalblue;
}

.header-img {
	position: relative;
	height: 300px;
	background-image: url('fantasy-planet-1920x1080-wallpaper.jpg');
	background-size: cover;
	background-position: 0 45%;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	z-index: 1;
}

.header-text h1 {
	margin-bottom: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.header-text p {
	text-align: center;
}

.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 3, 27, 0.4);
}